
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');

#title {
    background: #ff4c68;
}

#header{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}